body {
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.area {
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 10px;
}

.logo {
    width: 100%;
    height: auto;
}

.mb-3 {
    text-align: justify;
}

.btn {
    width: 100%;
}

.ano {
    color: grey;
}